// <Row />
@import '@globals';

.ml-row {
  display: flex;
  flex-direction: row;
}
  .ml-row.ml-row--align-middle {
    align-items: center;
  }
  .ml-row > [data-column-width="1/3"] {
    width: ( 100% / 3 );
  }
  .ml-row > [data-column-width="2/3"] {
    width: ( 100% * ( 2 / 3 ) );
  }
  .ml-row.ml-row--stack-until {
    flex-direction: column;

    & > * {
      flex: none;
    }
  }
  .ml-row.ml-row--stack-until > [data-column-width="1/3"],
  .ml-row.ml-row--stack-until > [data-column-width="2/3"] {
    width: unset;
  }

.ml-row.ml-row--space-panel {
  & > * + * {
    margin-left: $panel-spacing;
  }
}

.ml-row.ml-row--space-panel.ml-row--stack-until {
  & > * + * {
    margin-left: unset;
    margin-top: $panel-spacing;
  }
}

@include media-breakpoint-up( small ) {
  .ml-row.ml-row--stack-until.ml-row--stack-until-small {
    flex-direction: row;

    & > * {
      flex: unset;
    }
  }

  .ml-row.ml-row--space-panel.ml-row--stack-until.ml-row--stack-until-small {
    & > * + * {
      margin-top: unset;
      margin-left: $panel-spacing;
    }
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-small > [data-column-width="1/3"] {
    width: ( 100% / 3 );
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-small > [data-column-width="2/3"] {
    width: ( 100% * ( 2 / 3 ) );
  }
}
@include media-breakpoint-up( medium ) {
  .ml-row.ml-row--stack-until.ml-row--stack-until-medium {
    flex-direction: row;

    & > * {
      flex: unset;
    }
  }

  .ml-row.ml-row--space-panel.ml-row--stack-until.ml-row--stack-until-medium {
    & > * + * {
      margin-top: unset;
      margin-left: $panel-spacing--desktop;
    }
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-medium > [data-column-width="1/3"] {
    width: ( 100% / 3 );
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-medium > [data-column-width="2/3"] {
    width: ( 100% * ( 2 / 3 ) );
  }
}
@include media-breakpoint-up( large ) {
  .ml-row.ml-row--space-panel {
    & > * + * {
      margin-left: $panel-spacing--desktop;
    }
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-large {
    flex-direction: row;

    & > * {
      flex: unset;
    }
  }

  .ml-row.ml-row--space-panel.ml-row--stack-until.ml-row--stack-until-large {
    & > * + * {
      margin-top: unset;
      margin-left: $panel-spacing--desktop;
    }
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-large > [data-column-width="1/3"] {
    width: ( 100% / 3 );
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-large > [data-column-width="2/3"] {
    width: ( 100% * ( 2 / 3 ) );
  }
}
@include media-breakpoint-up( xlarge ) {
  .ml-row.ml-row--stack-until.ml-row--stack-until-xlarge {
    flex-direction: row;

    & > * {
      flex: unset;
    }
  }

  .ml-row.ml-row--space-panel.ml-row--stack-until.ml-row--stack-until-xlarge {
    & > * + * {
      margin-top: unset;
      margin-left: $panel-spacing--desktop;
    }
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-xlarge > [data-column-width="1/3"] {
    width: ( 100% / 3 );
  }

  .ml-row.ml-row--stack-until.ml-row--stack-until-xlarge > [data-column-width="2/3"] {
    width: ( 100% * ( 2 / 3 ) );
  }
}