// Brand Colors
$color-dark-gray: #D8D8D8;
$color-dark-grey: $color-dark-gray;

$color-charles-blue: #091F2F;
$color-optimistic-blue: #288BE4;
$color-freedom-trail-red: #FB4D42;

$color-supporting-blue-darkest: #061622;
$color-supporting-blue-darker: #0C2639;
$color-supporting-blue-dark: #45789C;
$color-supporting-blue: #51ACFF;