// <Button />
@import '@globals';

// Not using `ml-button`; extends standard button
.btn.btn--metrolist {
  background-color: $color-optimistic-blue;
  font-size: rem( 14px );
  width: 100%;
  // padding: rem( 13px 21px ); // mockup
  padding: rem( 13px 7px );
  letter-spacing: rem( 0.01px );
  text-align: center;
}
@include media-breakpoint-up( small ) {
  .btn.btn--metrolist {
    min-width: rem( 125px );
    width: ( 125 / $nominal-width-home ) * 100%;
  }
}
@include media-breakpoint-up( large ) {
  .btn.btn--metrolist {
    min-width: rem( 220px );
    width: ( 220 / $nominal-width-home-desktop ) * 100%;
  }
}