// <UnitGroup />
@import '@globals';

.ml-unit-group {
  width: 100%;
  // margin: 0 auto;
  border-collapse: collapse;
  font-family: $font-family-montserrat;
  font-size: rem( 14px );
}
  @include media-breakpoint-up( large ) {
    .ml-unit-group {
      font-size: rem( 16px );
    }
  }
  .ml-unit-group__cell {
    width: 33.333333%;
    padding: $table-cell-spacing;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }