// <UnitGroup />
@import '@globals';

.ml-unit-group {
  width: 100%;
  // margin: 0 auto;
  border-collapse: collapse;
  font-family: $font-family-montserrat;
  font-size: rem( 14px );
}
  @include media-breakpoint-up( lg ) {
    .ml-unit-group {
      font-size: rem( 16px );
    }
  }
  .ml-unit-group__cell {
    width: 33.333333%;
    padding: $table-cell-spacing;
  }
  .ml-unit-group__size {
    text-align: left;
  }
  .ml-unit-group__ami-qualification {
    text-align: center;
  }
  .ml-unit-group__price {
    text-align: right;
  }