// <MetrolistHeader />
@import '@globals';

.cob-metrolist-header {
  background-color: white;
}
  .cob-metrolist-header__heading-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .cob-metrolist-header__heading {}

  .cob-metrolist-header__subheading {
    margin-bottom: .5rem;
  }