// <Units />
@import '@globals';

.cob-units {
  width: 100%;
}
  .cob-units__size {
    text-align: left;
  }
  .cob-units__ami-qualification {
    text-align: center;
  }
  .cob-units__price {
    text-align: right;
  }