// <MailingListSignup />
@import '@globals';

.ml-mailing-list-signup {
  background-color: $color-white;
}
  .ml-mailing-list-signup__content {
    display: flex;
  }

  .ml-mailing-list-signup__text,
  .ml-mailing-list-signup__form {
    display: inline-block;
  }

  .ml-mailing-list-signup__text {
    font-style: italic;
    width: 40%;
    margin-right: 1.5rem;
    font-size: 1.125rem;
    color: $color-charles-blue;
    line-height: 1.5;

    & > p {
      max-width: $max-line-length;
    }
  }

  .ml-mailing-list-signup__form {
    width: 60%;
  }