// <Home />
@import '@globals';
@import '@globals/overrides/_buttons';

$padding-home-vertical: rem( 18px );
$padding-home-horizontal: rem( 26px );

.ml-home {
  // border: 1px solid black;
  margin: $panel-spacing;
  padding: $padding-home-vertical $padding-home-horizontal; // mockup
  // padding: rem( 20px ); // average
  // width: 889px
  background-color: $color-white;
  color: $color-metrolist-home-text;
  position: relative;

  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }
}
  .ml-home__content {
    width: 85.826771653543307%;
    width: 100%;
  }
  .ml-home__header {
    
  }
  .ml-home__title {
    line-height: .8;
    text-transform: uppercase;
    font-family: $font-family-heading;
    font-size: rem( 30px );
    font-weight: bold;
  }
  .ml-home__byline {
    line-height: .8;
    margin: rem( 24px ) 0;
    font-size: rem( 21px );
  }
  .ml-home__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .ml-home__just-listed {
    text-transform: uppercase;
    color: $color-homes-just-listed;
    font-family: $font-family-montserrat;
    font-size: rem( 21px );
    // line-height: rem( 27px ); // mockup
    line-height: 0.75;
    letter-spacing: ( 1.5px / 16px ) * 1rem;
    position: absolute;
    top: $padding-home-vertical;
    right: $padding-home-horizontal;
    // border: 1px solid black;
  }