// <Range />
@import '@globals';
@import '@globals/typography/filters';

// Multi-Thumb Sliders: General Case
// https://css-tricks.com/multi-thumb-sliders-general-case/
// https://codepen.io/thebabydino/pen/vYEEara

// $pad: 2rem;
$highlight-color: #f90;
$transition-duration: .3s;
$thumb-diameter: ( $checkbox-dimensions--desktop / 2 );
$thumb-translate-y: ( $thumb-diameter * -.75 );

@mixin track() {
	width: 100%; height: 100%;
	background: none /* get rid of Firefox track background */
}

@mixin thumb() {
	box-sizing: border-box; /* different between Chrome & Firefox */
	/* box-sizing needed now that we have a non-zero border */
	// border: solid calc( .5 * var(--radius) ) transparent;
	// width: var(--thumb-diameter);
	// height: var(--thumb-diameter);
	// border-radius: 50%; /* make circular */
	// background: 
	// 	linear-gradient( rgba( #000, .15 ), rgba( #fff, .2 ) ) content-box,
	// 	linear-gradient( rgba( #fff, .3 ), rgba( #000, .3 ) ) border-box,
	// 	// $highlight-color
	// ;
	pointer-events: auto;

	// Downward Arrow
	// https://css-tricks.com/snippets/css/css-triangle/

	width: $thumb-diameter;
  height: $thumb-diameter;
	border-radius: 50% 50% 50% 0;

	// Position:relative + bottom doesn’t work in Firefox so we have to use transform.
	// Rotate is to achieve map marker look.
	// Translate has to come before rotate.
	// R/L .03rem;
	transform: translateY( $thumb-translate-y ) rotate( -45deg ); // scale( 0.5 );

  border: 8px solid $color-metrolist-text-blue;
	background-color: #0A1F2F;
}

.ml-range {
	$track-width: 20rem;
	--track-width: #{$track-width};

	$track-height: $checkbox-dimensions--desktop;
	--track-height: #{$track-height};

	--thumb-diameter: #{$thumb-diameter};

	$thumb-radius: ( $thumb-diameter / 2 );
	--thumb-radius: #{$thumb-radius};

	// $useful-width: ( $track-width - $thumb-diameter );
	// --useful-width: #{$useful-width};
	--useful-width: calc( var(--track-width) - var(--thumb-diameter) );

	--min-max-difference: calc( var(--max) - var(--min) );

	--fill:
		linear-gradient(
			90deg,
			red calc( var(--thumb-radius) + ( var(--value-1) - var(--min) ) / var(--min-max-difference) * var(--useful-width) ),
			transparent 0
		),
		linear-gradient(
			90deg,
			red calc( var(--thumb-radius) + ( var(--value-2) - var(--min) ) / var(--min-max-difference) * var(--useful-width) ),
			transparent 0
		)
	;

	div[role="group"] {
		display: grid;
		grid-template-rows: max-content var(--track-height) max-content;
		grid-gap: .625rem;
		overflow: hidden;
		position: relative;
		padding-top: ( $thumb-diameter / 2 );
		// margin: 1em .5em - $pad;
		// padding: 0 $pad;
		width: var(--track-width);
		// font: 700 1.125em ubuntu mono, consolas, monaco, monospace;

		* {
			--highlighted: 0;
			--not-highlighted: calc( 1 - var(--highlighted) );
			margin: 0;
		}
		
		&::before, &::after {
			grid-column: 1;
			grid-row: 2;
			// border-radius: var(--radius);
			// box-shadow: inset 0 2px 3px rgba( #000, .3 );
			// background: #ccc;
			color: #eee;
			content: ''
		}

		// Range Bar Container (empty portion)
		&::before {
			height: 35px;
			border: 2px solid #383838;
		}
		
		// Range Bar (colored in portion)
		&::after {
			/* non-standard WebKit version */
			-webkit-mask: var(--fill);
			-webkit-mask-composite: xor;

			/* standard version, supported in Firefox */
			mask: var(--fill);
			mask-composite: exclude;

			position: relative;
			top: .5rem;
			height: 23px;

			background: 
				// linear-gradient( rgba( #fff, .3 ), rgba( #000, .3 ) )
				$color-supporting-blue;
		}
	}
}

.ml-range__input {
	&::-webkit-slider-runnable-track, 
	&::-webkit-slider-thumb, & {
		-webkit-appearance: none
	}

	grid-column: 1;
	grid-row: 2;
	z-index: calc( 1 + var( --highlighted) );
	top: 0; left: 0;
	background: none; /* get rid of white Chrome background */
	// filter: grayScale(var( --not-highlighted) );
	// transition: filter $transition-duration ease-out;
	cursor: grab;
	pointer-events: none;

	&::-webkit-slider-runnable-track { 
		@include track();
	}
	&::-moz-range-track {
		@include track();
	}

	$thumb-position-tweak: .07rem;

	&::-webkit-slider-thumb {
		@include thumb();
	}
	&:first-of-type::-webkit-slider-thumb {
		transform: translate( $thumb-position-tweak, $thumb-translate-y ) rotate( -45deg );
	}
	&:last-of-type::-webkit-slider-thumb {
		transform: translate( $thumb-position-tweak * -1, $thumb-translate-y ) rotate( -45deg );
	}

	&::-moz-range-thumb {
		@include thumb();
	}
	// Firefox’s translate doesn’t calculate in the same way as Chrome’s, so manually adjusting
	&:first-of-type::-moz-range-thumb {
		transform: translate( $thumb-position-tweak, $thumb-translate-y * 1.5 ) rotate( -45deg );
	}
	&:last-of-type::-moz-range-thumb {
		transform: translate( $thumb-position-tweak * -1, $thumb-translate-y * 1.5 ) rotate( -45deg );
	}

	&:focus {
		outline: solid 0 transparent;
		
		&, & + .ml-range__output {
			--highlighted: 1;
		}
	}

	&:active {
		cursor: grabbing;
	}
}

// .ml-range {}

// Styling Cross-Browser Compatible Range Inputs with CSS
// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

// input[type=range] {
//   -webkit-appearance: none;
//   margin: 18px 0;
//   width: 100%;
// }
// input[type=range]:focus {
//   outline: none;
// }
// input[type=range]::-webkit-slider-runnable-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   background: #3071a9;
//   border-radius: 1.3px;
//   border: 0.2px solid #010101;
// }
// input[type=range]::-webkit-slider-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
//   -webkit-appearance: none;
//   margin-top: -14px;
// }
// input[type=range]:focus::-webkit-slider-runnable-track {
//   background: #367ebd;
// }
// input[type=range]::-moz-range-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   background: #3071a9;
//   border-radius: 1.3px;
//   border: 0.2px solid #010101;
// }
// input[type=range]::-moz-range-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }
// input[type=range]::-ms-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   animate: 0.2s;
//   background: transparent;
//   border-color: transparent;
//   border-width: 16px 0;
//   color: transparent;
// }
// input[type=range]::-ms-fill-lower {
//   background: #2a6495;
//   border: 0.2px solid #010101;
//   border-radius: 2.6px;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }
// input[type=range]::-ms-fill-upper {
//   background: #3071a9;
//   border: 0.2px solid #010101;
//   border-radius: 2.6px;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }
// input[type=range]::-ms-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }
// input[type=range]:focus::-ms-fill-lower {
//   background: #3071a9;
// }
// input[type=range]:focus::-ms-fill-upper {
//   background: #367ebd;
// }