// <Checkbox />
@import '@globals';

.ml-checkbox {
  font-size: $font-size-filter-label;
  // border: 1px solid rgba(20, 20, 180, 0.5);
}
  .ml-checkbox + .ml-checkbox {
    margin-top: rem( 25px );
  }
  .ml-checkbox__subcategories {
    // margin-left: rem( 47px ); // mockup
    margin-left: rem( 35px );
    margin-top: rem( 21px );
  }
    // TODO: Don’t style by structure
    .ml-checkbox__subcategories > .ml-checkbox {
      font-size: $font-size-filter-label--small;
    }
    .ml-checkbox__subcategories > .ml-checkbox + .ml-checkbox {
      margin-top: 1rem;
    }
    .ml-checkbox__subcategories > .ml-checkbox > .ml-checkbox__label > .ml-checkbox__text {
      margin-left: rem( 13px );
      font-style: normal;
    }

  .ml-checkbox__label {
    display: block;
    line-height: 0;
    white-space: nowrap;
    height: rem( 35px );
  }
  .ml-checkbox__text,
  .ml-checkbox__form-control-container {
    display: inline-block;
    vertical-align: middle;
  }
  .ml-checkbox__text {
    @extend %filter-label-text;
  }
    .ml-checkbox__form-control-container + .ml-checkbox__text {
      margin-left: 1rem;
    }
  .ml-checkbox__form-control-container {
    position: relative;
    border: 2px solid #383838;
    background-color: $color-white;
    height: 100%;
    width: rem( 35px );
    text-align: center;
  }
  .ml-checkbox__form-control,
  .ml-checkbox__form-control-ui {
    position: absolute;
  }
  .ml-checkbox__form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 0;
  }
  .ml-checkbox__form-control-ui {
    width: rem( 23px );
    height: rem( 23px );
    top: rem( 4px );
    left: rem( 4px );
  }
  .ml-checkbox__form-control:checked ~ .ml-checkbox__form-control-ui {
    background-color: $color-optimistic-blue;
  }
  .ml-checkbox__more-link {
    font-size: rem( 21px );
    font-style: italic;
    color: inherit;
    text-decoration: underline;
    
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }