// <HomeInfo />
@import '@globals';

.ml-home-info {
  line-height: ( 24px / 16px ) * 1rem;
  font-size: ( 15px / 16px ) * 1rem;
  margin: 0;
}
  .ml-home-info__key {
    @extend %dt-inline;
  }
  .ml-home-info__value {
    @extend %dd-inline
  }