// <HomeInfo />
@import '@globals';

.ml-home-info {
  line-height: rem( 24px );
  font-size: rem( 15px );
  margin: 0;
}
  .ml-home-info__key {
    @extend %dt-inline;
  }
  .ml-home-info__value {
    @extend %dd-inline
  }