// Primary
$color-charles-blue: #091F2F;
$color-dark-blue: $color-charles-blue;

$color-optimistic-blue: #288BE4;
$color-blue: $color-optimistic-blue;

$color-freedom-trail-red: #FB4D42;
$color-red: $color-freedom-trail-red;

$color-white: #FFFFFF;
$color-black: #000000;

// Supporting: Blues
$color-supporting-blue-darkest: #061622;
$color-supporting-blue-darker: #0C2639;
$color-supporting-blue-dark: #45789C;
$color-supporting-blue: #51ACFF;

// Supporting: Grays
$color-supporting-gray-darkest: #58585B;
$color-supporting-gray-darker: #D2D2D2;
$color-supporting-gray-dark: #E0E0E0;
$color-supporting-gray: #F2F2F2;

// --- Metrolist --- //

// --- Search Page --- //

// Homes
$color-metrolist-home-text: #0A1F2F;
$color-filters-scale-border: #C9C9C9;
$color-filters-callout-border: #D9D9D9;

$color-metrolist-green: #478033;
$color-homes-just-listed: $color-metrolist-green;

// --- End Metrolist -- //