// <AppHeader />
@import '@globals';

.ml-app-header {
  background-color: white;
  padding-top: ( 42 / 16 ) * 1rem;
}
  .ml-app-header__heading-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .ml-app-header__heading,
  .ml-app-header__subheading {
    margin-bottom: .5rem;
  }

  // 85 / 213