// Dimensions

// Mockup Measurements
$nominal-width-desktop: 1440;
$nominal-width-desktop__content: 1200;
$nominal-width-mobile: 480;
$nominal-width-mobile__content: 395;

// Logo
$logo-width-large: 130px;
$logo-width-extra-large: 160px;