// <Callout />
@import '@globals';

.ml-callout {
  text-align: center;
  border: 2px solid $color-filters-callout-border;
  margin-top: rem( 31px );
  padding:
    rem( 26px ) /* t */
    // rem( 26px ) /* r */
    // rem( 29px ) /* b */
    // rem( 29px ) /* l */
  ;
}
  .ml-callout__heading {
    font-style: italic;
    color: $color-optimistic-blue;
    font-size: rem( 28px );
    line-height: rem( 33px );
  }
  .ml-callout__text {

    font-size: rem( 18px );
    line-height: rem( 32px );
    color: $color-metrolist-text-blue;
  }