// <Listings />
@import '@globals';
  .ml-listings {
    width: 100%;
    // margin: rem( 10px ) auto 0;
    margin: 0 auto;
  }

  @include media-breakpoint-up( large ) {
    .ml-listings {
      width: ( $nominal-width-mobile-listings__content / $nominal-width-mobile ) * 100%;
      margin-top: rem( 80px );
    }

    .ml-listings__content {
      display: flex;
    }

    .ml-listings__filters,
    .ml-listings__results {
      // border: 1px solid black;
      display: inline-block;
    }

    // $filters-width: 31%;
    // .ml-listings__filters {
    //   width: $filters-width;
    // }
    // .ml-listings__results {
    //   width: ( 100% - $filters-width );
    // }
  }

  @include media-breakpoint-up( xlarge ) {
    .ml-listings {
      width: ( $nominal-width-desktop-listings__content / $nominal-width-desktop ) * 100%;
      // max-width: rem( $nominal-width-desktop * 1px );
    }
  }