// <Listings />
@import '@globals';

.cob-listings {
  display: flex;
  width: ( $nominal-width-desktop-metrolist-search__content / $nominal-width-desktop ) * 100%;
  margin: ( ( 80px / 16px ) * 1rem ) auto 0;
}
  .cob-listings__filters,
  .cob-listings__homes {
    // border: 1px solid black;
    display: inline-block;
  }
  .cob-listings__filters {
    width: 25%;
  }
  .cob-listings__homes {
    width: 75%;
  }