// <Column />
@import '@globals';

/*
  .b-c { // “block content” @ patterns/stylesheets/components/block/_main.styl
    width: 100%
    max-width: 66.67rem
    margin-left: auto
    margin-right: auto
    padding: $sizing-700 10%
    position: relative
  }
*/

.ml-column {
  width: ( $nominal-width-mobile-listings__content / $nominal-width-mobile ) * 100%;
  margin: 0 auto;
}
@include media-breakpoint-up( large ) {
  .ml-column {
    width: ( $nominal-width-desktop-listings__content / $nominal-width-desktop ) * 100%;
  }
}

.ml-column.ml-column--jumbotron {
  // width: 100%;
  // max-width: 66.67rem;
  // margin-left: auto;
  // margin-right: auto;
  // padding: $sizing-700 10%;
  padding: $sizing-700 0;
  position: relative;
}